---
import "../styles/global.css";
import AboutMePage from "./AboutMePage";
---

<html lang="pt-BR">
  <head>
    <title>Sobre mim</title>
    <link rel="stylesheet" href="../styles/global.css" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="icon" type="image/png" href="/public/favicon.png">
  </head>
  <body>
    <AboutMePage client:only="react" />
  </body>
  <script>
  try {
    const stored = localStorage.getItem('theme');
    const prefersDark = window.matchMedia('(prefers-color-scheme: dark)').matches;
    const theme = stored || (prefersDark ? 'dark' : 'light');
    document.documentElement.classList.add(theme);
  } catch (e) {}
  </script>
</html>
