---
import "../styles/global.css";

import Desktop from "../components/Desktop";
---

<html lang="pt">
  <head>
    <title>Cecilia Caporale</title>
    <link rel="stylesheet" href="../styles/global.css" />
  </head>
  <body>
    <Desktop client:only="react" />
  </body>
</html>
