---
import "../styles/global.css";
import Responsive from "../components/Responsive";
---

<html lang="pt">
  <head>
    <title>Cecilia Caporale</title>
    <link rel="stylesheet" href="../styles/global.css" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  </head>
  <body>
    <Responsive client:only="react" />
  </body>
</html>
