---
import "../styles/global.css";
import Projects from "../layouts/Projects";
import  SpeedInsights  from "@vercel/speed-insights/astro"
---

<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0, user-scalable=yes">
    <title>Projetos</title>
     <meta name="description" content="Projetos desenvolvido por Cecilia Caporale" />
    <link rel="icon" type="image/png" href="/favicon.png">
  </head>
  <body>
    <Projects client:only="react" />
    <SpeedInsights />
  </body>
  <script>
  try {
    const stored = localStorage.getItem('theme');
    const prefersDark = window.matchMedia('(prefers-color-scheme: dark)').matches;
    const theme = stored || (prefersDark ? 'dark' : 'light');
    document.documentElement.classList.add(theme);
  } catch (e) {}
  </script>
</html>
